@keyframes like
{
    100%{

        from { transform: scaleX(0); }
        to   { transform: scaleX(1); }
        color: aliceblue;
        

        }

        
            
    
}

@keyframes loading 
{

    0%{
        transform: rotate(0deg);
    }

    100%{
        
        display: initial;
        transform: rotate(360deg);
    }


}