
.loader
{

    width: 120px;
    height: 120px;border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    background-color: aliceblue;
    position: absolute;
    z-index: 2;
    left: 7rem;
    top: 15rem;
    animation: loader 3s linear 3s;
    animation-fill-mode: forwards;

}

.preloader
{   
    position: fixed;
    z-index: 2;
    margin: 0px;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    animation: loadscreen 3s linear 3s;
    animation-fill-mode: forwards;
}

@media screen and (min-width:1px) and (max-width: 375px)
{
    body
    {
        max-width: 100%;
        width: 100%;
        background-color: transparent;

        
       
    }

    header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    
    }

    header img
    {
        width: 45%;
        padding-left: 115px;
        margin-top: 5px;
    }

    i.fas.fa-map-marker-alt
    {
        
        margin-top: 20px;
        margin-bottom: 20px;
    }



    #head
    {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    header figure
    {
        background-color: #99E2D0;
        width: 100%;
        padding-left: 115px;
        margin: 0px;

    }

    .head2
    {
        background-color: whitesmoke;
        height: 250px;
        
        
    }

    .head2 h1
    {
        padding-left: 50px;
        font-size: x-large;
    }

    .head2 button
    {
        margin-left: 70px;
        height: 50px;
        width: 60%;
        border-radius: 50px;
        background-color: #FF79DA;
        border-color: #FF79DA;
        margin-top: 15px;
        color:white;
        box-shadow: 0px 5px #99E2D0;
        

    }

    nav
    {
        display: flex;
        flex-direction: column;
    }

    nav i
    {
        padding-top: 20px;
        color: #99E2D0;
    }

    nav p 
    {
        color: white;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #9356DC ;
        width: 20px;
        height: 20px;
        text-align: center;
        position: relative;
        right: 10px;
        padding-top: 3px;
    }

    .navbutton
    {
        display: flex;
        width: 90%;
        border: 3px solid transparent;
        background-color:whitesmoke;
        border-radius: 15px;
        margin-left: 20px;
        margin-top: 15px;
        box-shadow: 0px 3px lightgrey;
        

    }

    .navitem
    {
        background-color: transparent;
        border-color: transparent;
        font-size: large;
        font-weight: bold;
        padding-left: 15px;
    }

    nav .fas
    {
        padding-left: 15px;
    }

    .restaurant
    {
        padding-top: 20px;
        background-color: whitesmoke;
        height: 100%;
        margin-top: 50px;
        border: 1px solid transparent
    }

    .restaurant figure 
    {
        margin: 30px 16px 30px 16px;
    }

    .restaurant img 
    {
        border-radius: 30px 30px 0px 0px;
        height: 230px;
    }

    .restaurant figcaption
    {
        background-color: white;
        border: 3px solid transparent;
        border-radius: 0px 0px 30px 30px;
        height: 85px;
    }

    .restaurant p 
    {
        position: relative;
        bottom: 35px;
    }

    .captionitem
    {
        display: flex;
        justify-content: space-between;
    }

    .restaurant .far.fa-heart
    {
        
        padding-right: 30px;
        padding-top: 30px;
        font-size: 30px;
        padding-bottom: 0px;
    }



    h2
    {
        color:black;
        padding-left: 15px;
    }

    

    h3
    {
        color:black;
    }

    p
    {
        color: black;
        font-size: initial;
        font-weight: initial;
    }

    a
    {
        text-decoration: none;
        
    }

    img
    {
        width: 100%;
        
        
        
    }

    footer
    {
        background-color: black;
    }

    footer img 
    {
        filter: brightness(100);
        width: 30%;
    }

    ul
    {
        color: white;
    
    }

    li
    {
        margin-bottom: 10px;
    }

    .navbutton:hover
    {
        background-color: aliceblue;
        box-shadow: 5px lightslategray;
    }
    
    nav .i:hover
    {
        color: #9356DC;
    }

    .far.fa-heart:hover
    {
        animation-name: like; 
        animation-duration: 3s;
        background: linear-gradient(25deg, #FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 800;

    }














}